*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body, #root {
  height: 100%;
  margin: 0;
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
}
