.selectDatePage{
	background: #f4efe8;
	padding: 50px 40px;
	min-height: auto;
	text-align: center;
	font-family: "Raleway", sans-serif;
}


.selectEmployeeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  justify-items: center;
  .cardEmployee{
  justify-items: center;
  }
}

.appointmentEmployeeCard {
  background: #f8eadf;
	width: 280px;
	min-height: 180px;
	border-radius: 28px;
	position: relative;
	overflow: hidden;
	box-shadow: rgba(68, 61, 57, 0.18) 30px 30px -20px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	border: 2px solid #b79c81;
	transition: box-shadow 0.2s;
}

/* imagen estilo grooming */
.appointmentEmployeeCard img {
	width: 100%;
	height: 220px;
	object-fit: contain;
	background: #1f5953;
	border-radius: 24px 24px 0 0;
	margin-bottom: 10px;
}

.appointmentEmployeeInfo h3 {
	margin: 0 0 8px;
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0.5px;
	color: #3b2a1e;
}

.appointmentEmployeeActions {
  display: flex;
  justify-content: center;
}

/* Botones base */
.selectEmployeeBtn,
.selectEmployeeBackBtn {
  border: none;
  color: #fff;
  padding: 8px 18px;
  margin: 1rem;
  font-size: 13px;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

/* Botón seleccionar */
.selectEmployeeBtn {
	background: #ffffff;
  color: #246b64;
	border: 1px solid #246b64;
	border-radius: 999px;
	padding: 10px 22px;
	font-size: 13px;
	font-weight: 800;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
}

.selectEmployeeBtn:hover{
  background: #eaf4f2;
}

.selectEmployeeBtn.selected {
	background: #246b64;
	color: #ffffff;
	transform: translateY(-2px);
}

.selectEmployeeBtn:active {
	transform: translateY(0);
	background: #246b64;
	color: white;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* Botón volver */
.selectEmployeeBackBtn {
	background: #b79c81;
	color: #fff;
	border: none;
	padding: 10px 28px;
	border-radius: 999px;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
	transition: 0.2s, transform 0.15s;
  
}

.selectEmployeeBackBtn:hover {
	background: #6bb3a7;
	transform: translateY(-2px);
}

.servicesActions{
	display: flex;
	flex-direction: column;
	align-items: center;
	img{
		width: 40px;
		height: 40px;
		margin: 1rem;
	}
.buttons{
display: flex;
gap: 15px;
	}
}

/* Responsive */
@media (max-width: 768px) {
  .selectDatePage {
    padding: 22px;
  }

  .selectEmployeeGrid {
    grid-template-columns: 1fr;
    gap: 22px;
    max-width: 520px;
    justify-content: center;
        margin: 0 auto;
  }

  .appointmentEmployeeCard img {
    height: 180px;
  }
  .appointmentEmployeeCard h3 {
    font-size: 18px;
  }
}



/* CALENDARIO */

.calendarAndHours{
  display: flex;
  gap: 40px;
  justify-content: center;
}

.calendar-container {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Contenedor principal */
.react-calendar {
  background: #e9d9c8;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  font-family: "Raleway", sans-serif;
  width: 70%;
  max-width: 50%;
  min-height: 300px;
}

/* Navegación (mes y año) */
.react-calendar__navigation {
  display: flex;
  margin-bottom: 12px;
}

.react-calendar__navigation button {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 25px;
  color: #222;
}

/* Días de la semana */
.react-calendar__month-view__weekdays {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
  color: #444;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

/* Días */
.react-calendar__tile {
   all: unset;
  width: 10px;
  aspect-ratio: 10 / 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}

/* Día actual (círculo blanco) */
.react-calendar__tile--now {
  background: white;
  color: #222;
  font-weight: 600;
}

/* Día seleccionado (verde) */
.react-calendar__tile--active {
  background: #5fae9c;
  color: white;
}

/* Hover */
.react-calendar__tile:enabled:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

/* Días de otros meses */
.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(0, 0, 0, 0.3);
}


/* dateSelected */
.dateSelected{
  background: #e9d9c8;
  border: none;
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 50%;
  height: fit-content;
  flex: 0 0 30%;
  border-radius: 16px;
  padding: 20px;
}

.selectHourBtn{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: #5fae9c;
  border-radius: 35px;
  border: none;
  padding: 1rem;
  margin: 1rem;
}

.selectHourBtn:enabled:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.error {
  color: #d9534f;
  font-weight: 600;
  margin: 8px 0;
}



/* RESPONSIVE CALEDARIO */

/* Tablets */
@media (max-width: 1024px) {
  .calendarAndHours {
    gap: 20px;
  }

  .calendar-container {
    flex: 0 0 80%;
  }

  .react-calendar {
    width: 90%;
    max-width: 80%;
    padding: 8px;
  }

  .react-calendar__navigation button {
    font-size: 20px;
  }

  .react-calendar__month-view__weekdays {
    font-size: 12px;
  }

  .react-calendar__tile {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .calendarAndHours {
    gap: 15px;
    margin: 1rem;
  }

  .calendar-container {
    flex: 0 0 95%;
    gap: 1rem;
    flex-direction: column;
  }

  .react-calendar {
    width: 95%;
    max-width: 100%;
    padding: 5px;
    margin: 10px 0;
  }

  .react-calendar__navigation button {
    font-size: 18px;
  }

  .react-calendar__month-view__weekdays {
    font-size: 11px;
  }

  .react-calendar__tile {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}

