:root {
  --green: #8bbfaf;
  --green-soft: #a9cfc3;
  --green-dark: #6AAFA5;
  --beige-light: #f4ede4;
  --sand: #f7f1ea;
  --brown: #b79b7c;
  --line: #246B64;
  --alt-day: #E6D3C2;
  --text: #4a3a2f;
}

.rbc-calendar {
  font-family: Poppins, sans-serif;
  background-color: #f7f1ea;
  color: var(--text);
}

.rbc-toolbar {
  margin-bottom: 25px;
}

.rbc-toolbar button {
  background: var(--green);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 9px 18px;
  font-size: 12px;
  transition: background 0.2s ease/* , transform 0.15s ease */;
}

.rbc-toolbar button:hover {
  background: var(--green-dark);
  transform: translateY(-1px);
}

.rbc-toolbar button.rbc-active {
  background: var(--brown);
}

.rbc-month-view,
.rbc-time-view {
  background: var(--sand);
  border: 1px solid var(--line);
  border-radius: 10px;
  overflow: hidden;
}

.rbc-header {
  background: var(--green-soft);
  padding: 10px 0;
  font-size: 17px;
  font-weight: 600;
  color: var(--text);
  border-bottom: 1px;
  
}



.rbc-resource-header {
  background: var(--green-soft);
  font-size: 12px;
  font-weight: 600;
  border-right: 1px solid var(--line);
}

.rbc-day-bg {
  background: var(--beige-light);
}


.rbc-day-bg:nth-child(even) {
  background:#efe5d9;
}

.rbc-today {
  background-color: rgba(139, 191, 175, 0.18) !important;
}

.rbc-time-slot {
  background: var(--beige-light);
  border-top: 1px solid var(--line);
}

.rbc-timeslot-group {
  border-bottom: 1px solid #e1d6c8;
}

.rbc-current-time-indicator {
  display: none !important;
}


.rbc-time-header-content,
.rbc-time-content {
  border-left: 2px solid var(--line);
}


.rbc-event {
  background: var(--green);
  font-size: 18px;
  color: #fffdfd;
  border-radius: 12px;
  border-left: 6px solid rgba();
  padding: 9px 16px;
  border: none;
  margin: 5px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.rbc-event:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
}

.rbc-event.rbc-selected {
  filter: brightness(0.92);
}

/* .rbc-resource-header {
  background: var(--green-soft);
  font-size: 12px;
  font-weight: 600;
  border-right: 1px solid var(--line);
} */


