@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.aboutPage {
  background: #F4EFE8;
  font-family: "Raleway", sans-serif;
  flex: 1;
  padding: 80px clamp(20px, 6vw, 200px);
  min-height: 100vh;
  overflow-x: hidden;
}

.aboutPage h2,
.aboutPage h3 {
  font-family: "Lora", serif;
}

.aboutPage p {
  font-family: "Raleway", sans-serif;
}

.aboutTop {
  display: flex;
  align-items: center;
  gap: clamp(24px, 4vw, 60px);
  margin-right: calc(-1 * clamp(20px, 6vw, 200px));
}

.aboutTop .aboutText {
  flex: 1;
  min-width: 280px;
  padding-left: 40px;
}

.aboutTitle {
  color: #6BB3A7;
  font-size: 50px;
  margin-bottom: 26px;
}

.aboutText h3 {
  font-size: 50px;
  margin-bottom: 12px;
}

.aboutText p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.aboutLogo {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.aboutLogo img {
  width: 100%;
  max-width: 420px;
  height: auto;
  display: block;
}

.aboutImageBig {
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: flex-end;
}

.aboutImageBig img {
  width: min(680px, 50vw);
  height: 420px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 220px;
  border-bottom-left-radius: 220px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.aboutBottom {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  gap: clamp(24px, 4vw, 60px);
  align-items: center;
}

.aboutImages {
  position: relative;
  width: 460px;
  height: 460px;
  margin-left: 60px;
  flex: 0 0 auto;
}

.circleImg {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.circleImg.small {
  width: 250px;
  height: 250px;

  position: absolute;
  bottom: -16px;
  right: -32px;

  border: 6px solid #F4EFE8;
}

.aboutBottom .aboutText {
  flex: 1;
  max-width: 720px;
  padding-left: 300px;
}

.aboutSubtitle {
  color: #6BB3A7;
  font-size: 60px;
  margin-bottom: 26px;
}


@media (max-width: 1024px) {
  .aboutPage {
    padding: 60px 60px;
  }

  .aboutTop {
    margin-right: -60px;
  }

  .aboutTop .aboutText {
    padding-left: 0;
    max-width: 600px;
  }

  .aboutTitle {
    font-size: 42px;
  }

  .aboutSubtitle {
    font-size: 42px;
  }

  .aboutImageBig img {
    width: min(520px, 55vw);
    height: 340px;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
  }

  .aboutLogo {
    margin-top: 40px;
  }

  .aboutImages {
    margin-left: 0;
    width: 380px;
    height: 380px;
  }

  .circleImg {
    width: 300px;
    height: 300px;
  }

  .circleImg.small {
    width: 200px;
    height: 200px;
    right: -24px;
    bottom: -24px;
  }

  .aboutBottom {
    align-items: flex-start;
  }

  .aboutBottom .aboutText {
    padding-left: 0;
    flex: 1;
    max-width: 600px;
  }
}


@media (max-width: 520px) {
  .aboutPage {
    padding: 40px 20px;
  }

  .aboutTop {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }

  .aboutTop .aboutText {
    min-width: 0;
    width: 100%;
    max-width: 520px; 
    margin: 0 auto;
  }

  .aboutTitle {
    font-size: 34px;
  }

  .aboutText h3 {
    font-size: 34px;
  }

  .aboutText p {
    font-size: 16px;
  }

  .aboutLogo {
    margin: 32px auto 0;
  }

  .aboutImageBig {
    width: 100%;
    justify-content: center;
  }

  .aboutImageBig img {
    width: min(320px, 100%);
    height: auto;
    border-radius: 50%;
  }

  .aboutBottom {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 60px;
  }

  .aboutImages {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .circleImg {
    width: 240px;
    height: 240px;
    margin: 0 auto;
  }

  .circleImg.small {
    width: 160px;
    height: 160px;
    right: -12px;
    bottom: -12px;
  }

  .aboutBottom .aboutText {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
  }
}
